<h2>Paid Orders Report</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Order #</th>
    <th>Date</th>
    <th>Total</th>
    <th>Customer</th>
  </tr>
  </thead>
  <tbody>
  <% @paid_orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, rails_admin.show_path(model_name: 'order', id: order.id) %></td>
      <td><%= order.created_at.strftime('%B %d, %Y') %></td>
      <td><%= number_to_currency(order.total_price) %></td>
      <td><%= order.user.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
