.container
  .row.justify-content-center
    .col-md-8
      .card.my-4
        .card-body
          %h1.h3.mb-4 Hello #{@resource.email}!
          %p Someone has requested a link to change your password. You can do this through the link below.
          %p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary"
          %hr
          %p If you didn't request this, please ignore this email.
          %p Your password won't change until you access the link above and create a new one.